<div id="myHeader" class="palm-header">Version Info</div>
<br><br>

<!-- version number and icon -->
<div class="palm-body-text">
    <h3><b>Version 1.1.0</b> (Released May 2021)</h3>
    <img src="images/icon.png" />
</div>

<!-- changelog -->
<table class="palm-divider labeled">
    <tr>
        <td class="left"></td>
        <td class="label">
            What's New
        </td>
        <td class="right"></td>
    </tr>
</table>
<div class="palm-body-text">
    <ul>
        <li>Tons of UI improvements and refinements.</li>
        <li>Revised user guide screen.</li>
        <li>Introduced webOS App Museum II auto-updater.</li>
        <li>Added the 'Version Info' page that you are reading right now!</li>
        <li>New icon.</li>
        <li>Bug fixes and other small tweaks.</li>
    </ul>
</div>

<!-- credits -->
<table class="palm-divider labeled">
    <tr>
        <td class="left"></td>
        <td class="label">
            App Info
        </td>
        <td class="right"></td>
    </tr>
</table>
<div class="palm-body-text">
    <ul>
        <li>Created and maintained by <a href="http://github.com/JohnSpahr">John Spahr</a>.</li>
        <li>Auto-updater, custom headers, and more by <a href="http://github.com/codepoet80">codepoet80</a>.</li>
    </ul>
</div>