<div id="myHeader" class="palm-header">User Guide</div>
<br><br>

<!-- info regarding signing in -->
<table class="palm-divider labeled">
    <tr>
        <td class="left"></td>
        <td class="label">
            Signing In
        </td>
        <td class="right"></td>
    </tr>
</table>
<div class="palm-body-text">
    <ul>
        <li>Due to the fact that the webOS WebView widget is pretty out of date, signing into Gmail can be a bit difficult.</li>
        <li>The first thing you must do is remove any existing Google accounts if you have any. You can do this by pressing the <b>'remove'</b> button on the Gmail sign in page.</li>
        <li>After that, add a Google account and sign in.</li>
        <li>If you are sent to the account settings page, simply tap the header at the top of your screen to be sent to your inbox.</li>
    </ul>
</div>

<!-- app UI tutorial -->
<table class="palm-divider labeled">
    <tr>
        <td class="left"></td>
        <td class="label">
            Navigation
        </td>
        <td class="right"></td>
    </tr>
</table>
<div class="palm-body-text">
    <ul>
        <li>PreMail makes it easy to navigate through Gmail.</li>
        <li>At the top of your screen, you'll find the header bar. When you tap on this, you are sent to your inbox. At the bottom of your screen, you'll find buttons to go back and forward, reload the page, search your inbox, and compose a new email.</li>
        <li>You can tap the button in the top left corner to view the application menu. Here, you'll find several more helpful buttons and features. Most of these have keyboard shortcuts assigned to them.</li>
    </ul>
</div>

<!-- shortcuts tutorial -->
<table class="palm-divider labeled">
    <tr>
        <td class="left"></td>
        <td class="label">
            Shortcuts
        </td>
        <td class="right"></td>
    </tr>
</table>
<div class="palm-body-text">
    <ul>
        <li>Some functions in PreMail can be called with shortcuts. You can find all of PreMail's shortcuts listed in the app menu next to their respective functions.</li>
        <li>To activate a shortcut, rest your finger in the the gesture area and press a key.</li>
    </ul>
</div>